In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [5]:
data2015_df = pd.read_csv(r"C:\Users\daric\Desktop\HAPPINESS\data_2015.csv", dtype=object, low_memory=False)

data2015_df.head()

,country,region,happiness_rank,happiness_score,standard_error,gdp_per_capita,family,life_expectancy,freedom,government_corr,generosity,dystopis_residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.4363,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.0388,1.459,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [6]:
new_2015data_df = data2015_df[['country', 'happiness_rank', 'happiness_score', 'gdp_per_capita','family', 'life_expectancy',
                                   'freedom', 'generosity','government_corr']].copy()
new_2015data_df.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corr
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.4363,0.14145
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,Norway,4,7.522,1.459,1.33095,0.88521,0.66973,0.34699,0.36503
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957

In [7]:
rds_connection_string = "postgres:postgres@localhost:5432/World Happiness DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [8]:
engine.table_names()

['clean_2019', 'clean_2018', 'clean_2017', 'clean_2016']

In [11]:
new_2015data_df.to_sql(name='clean_2015', con=engine, if_exists='append', index=False)

In [12]:
pd.read_sql_query('select * from clean_2015', con=engine).head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corr
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.4363,0.14145
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,Norway,4,7.522,1.459,1.33095,0.88521,0.66973,0.34699,0.36503
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957