In [41]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV files into DataFrames

In [42]:
# 2015 data
clean15_file = "../Data_Excel/Clean/clean_2015.csv"
data15_df = pd.read_csv(clean15_file)
data15_df.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corr
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957

In [43]:
# 2016 data
clean16_file = "../Data_Excel/Clean/clean_2016.csv"
data16_df = pd.read_csv(clean16_file)
data16_df.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corr
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.28083,0.41203
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.47678,0.14975
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.37895,0.35776
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.25492,0.41004

In [44]:
# 2017 data
clean17_file = "../Data_Excel/Clean/clean_2017.csv"
data17_df = pd.read_csv(clean17_file)
data17_df.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corr
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612

In [45]:
# 2018 data
clean18_file = "../Data_Excel/Clean/clean_2018.csv"
data18_df = pd.read_csv(clean18_file)
data18_df.head()

,country,happiness_rank,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,generosity,government_corr
0,Finland,1,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,2,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,3,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,4,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,5,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [46]:
# 2019 data
clean19_file = "../Data_Excel/Clean/clean_2019.csv"
data19_df = pd.read_csv(clean19_file)
data19_df.head()

,country,happiness_rank,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,generosity,government_corr
0,Finland,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298

### Add year column to dataframes

In [47]:
data15_df['year'] = 2015
data15_df=data15_df.reindex(['year', 'country', 'happiness_rank',
                           'happiness_score', 'gdp_per_capita', 'family',
                           'life_expectancy', 'freedom', 'generosity', 'government_corr'], axis=1)
data15_df.head()


data16_df['year'] = 2016 
data16_df=data16_df.reindex(['year', 'country', 'happiness_rank',
                           'happiness_score', 'gdp_per_capita', 'family',
                           'life_expectancy', 'freedom', 'generosity', 'government_corr'], axis=1)
data16_df.head()

data17_df['year'] = 2017
data17_df=data17_df.reindex(['year', 'country', 'happiness_rank',
                           'happiness_score', 'gdp_per_capita', 'family',
                           'life_expectancy', 'freedom', 'generosity', 'government_corr'], axis=1)
data17_df.head()

data18_df['year'] = 2018
data18_df=data18_df.reindex(['year', 'country', 'happiness_rank',
                           'happiness_score', 'gdp_per_capita', 'social_support',
                           'life_expectancy', 'freedom', 'generosity', 'government_corr'], axis=1)
data18_df.head()

data19_df['year'] = 2019
data19_df=data19_df.reindex(['year', 'country', 'happiness_rank',
                           'happiness_score', 'gdp_per_capita', 'social_support',
                           'life_expectancy', 'freedom', 'generosity', 'government_corr'], axis=1)
data19_df.head()

,year,country,happiness_rank,happiness_score,gdp_per_capita,social_support,life_expectancy,freedom,generosity,government_corr
0,2019,Finland,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2019,Denmark,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,2019,Norway,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,2019,Iceland,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,2019,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298

### Merge data using year column

In [64]:
# add 2015-2017 data to new dataframe
data15_17=data15_df.append([data16_df, data17_df])
# data15_17.head()

# add 2018-2019 data to new dataframe
data18_19=data18_df.append(data19_df)
# data18_19.head()

# combine files 
allData_df=data15_17.append([data18_19], sort=False)
# allData_df.head()

allData_df.reindex(['year', 'country', 'happiness_rank','happiness_score', 
                    'gdp_per_capita', 'family', 'social_support',
                    'life_expectancy', 'freedom', 'generosity', 'government_corr'], axis=1)
allData_df

,year,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corr,social_support
0,2015,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,NaN
1,2015,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,NaN
2,2015,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,NaN
3,2015,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,NaN
4,2015,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,NaN
5,2015,Finland,6,7.406,1.29025,1.31826,0.88911,0.64169,0.23351,0.41372,NaN
6,2015,Netherlands,7,7.378,1.32944,1.28017,0.89284,0.61576,0.47610,0.31814,NaN
7,2015,Sweden,8,7.364,1.33171,1.28907,0.91087,0.65980,0.36262,0.43844,NaN
8,2015,New Zealand,9,7.286,1.25018,1.31967,0.90837,0.63938,0.47501,0.42922,NaN
9,2015,Australia,10,7.284,1.33358,1.30923,0.93156,0.65124,0.43562,0.35637,NaN
10,2015,Israel,11,7.278,1.22857,1.22393,0.91387,0.41319,0.33172,0.07785,NaN
11,2015,Costa Rica,12,7.226,0.95578,1.23788,0.86027,0.63376,0.25497,0.10583,NaN
12,2015,Austria,13,7.200,1.33723,1.29704,0.89042,0.62433,0.33088,0.18676,NaN
13,2015,Mexico,14,7.187,1.02054,0.91451,0.81444,0.48181,0.14074,0.21312,NaN
14,2015,United States,15,7.119,1.39451,1.24711,0.86179,0.54604,0.40105,0.15890,NaN
15,2015,Brazil,16,6.983,0.98124,1.23287,0.69702,0.49049,0.14574,0.17521,NaN
16,2015,Luxembourg,17,6.946,1.56391,1.21963,0.91894,0.61583,0.28034,0.37798,NaN
17,2015,Ireland,18,6.940,1.33596,1.36948,0.89533,0.61777,0.45901,0.28703,NaN
18,2015,Belgium,19,6.937,1.30782,1.28566,0.89667,0.58450,0.22250,0.22540,NaN
19,2015,United Arab Emirates,20,6.901,1.42727,1.12575,0.80925,0.64157,0.26428,0.38583,NaN
20,2015,United Kingdom,21,6.867,1.26637,1.28548,0.90943,0.59625,0.51912,0.32067,NaN
21,2015,Oman,22,6.853,1.36011,1.08182,0.76276,0.63274,0.21542,0.32524,NaN
22,2015,Venezuela,23,6.810,1.04424,1.25596,0.72052,0.42908,0.05841,0.11069,NaN
23,2015,Singapore,24,6.798,1.52186,1.02000,1.02525,0.54252,0.31105,0.49210,NaN
24,2015,Panama,25,6.786,1.06353,1.19850,0.79661,0.54210,0.24434,0.09270,NaN
25,2015,Germany,26,6.750,1.32792,1.29937,0.89186,0.61477,0.28214,0.21843,NaN
26,2015,Chile,27,6.670,1.10715,1.12447,0.85857,0.44132,0.33363,0.12869,NaN
27,2015,Qatar,28,6.611,1.69042,1.07860,0.79733,0.64040,0.32573,0.52208,NaN
28,2015,France,29,6.575,1.27778,1.26038,0.94579,0.55011,0.12332,0.20646,NaN
29,2015,Argentina,30,6.574,1.05351,1.24823,0.78723,0.44974,0.11451,0.08484,NaN
...,...,...,...,...,...,...,...,...,...,...,...
126,2019,Congo (Kinshasa),127,4.418,0.09400,NaN,0.35700,0.26900,0.21200,0.05300,1.125
127,2019,Mali,128,4.390,0.38500,NaN,0.30800,0.32700,0.15300,0.05200,1.105
128,2019,Sierra Leone,129,4.374,0.26800,NaN,0.24200,0.30900,0.25200,0.04500,0.841
129,2019,Sri Lanka,130,4.366,0.94900,NaN,0.83100,0.47000,0.24400,0.04700,1.265
130,2019,Myanmar,131,4.360,0.71000,NaN,0.55500,0.52500,0.56600,0.17200,1.181
131,2019,Chad,132,4.350,0.35000,NaN,0.19200,0.17400,0.19800,0.07800,0.766
132,2019,Ukraine,133,4.332,0.82000,NaN,0.73900,0.17800,0.18700,0.01000,1.390
133,2019,Ethiopia,134,4.286,0.33600,NaN,0.53200,0.34400,0.20900,0.10000,1.033
134,2019,Swaziland,135,4.212,0.81100,NaN,0.00000,0.31300,0.07400,0.13500,1.149
135,2019,Uganda,136,4.189,0.33200,NaN,0.44300,0.35600,0.25200,0.06000,1.069
136,2019,Egypt,137,4.166,0.91300,NaN,0.64400,0.24100,0.07600,0.06700,1.039
137,2019,Zambia,138,4.107,0.57800,NaN,0.42600,0.43100,0.24700,0.08700,1.058
138,2019,Togo,139,4.085,0.27500,NaN,0.41000,0.29300,0.17700,0.08500,0.572
139,2019,India,140,4.015,0.75500,NaN,0.58800,0.49800,0.20000,0.08500,0.765
140,2019,Liberia,141,3.975,0.07300,NaN,0.44300,0.37000,0.23300,0.03300,0.922
141,2019,Comoros,142,3.973,0.27400,NaN,0.50500,0.14200,0.27500,0.07800,0.757
142,2019,Madagascar,143,3.933,0.27400,NaN,0.55500,0.14800,0.16900,0.04100,0.916
143,2019,Lesotho,144,3.802,0.48900,NaN,0.16800,0.35900,0.10700,0.09300,1.169
144,2019,Burundi,145,3.775,0.04600,NaN,0.38000,0.22000,0.17600,0.18000,0.447
145,2019,Zimbabwe,146,3.663,0.36600,NaN,0.43300,0.36100,0.15100,0.08900,1.114
146,2019,Haiti,147,3.597,0.32300,NaN,0.44900,0.02600,0.41900,0.11000,0.688
147,2019,Botswana,148,3.488,1.04100,NaN,0.53800,0.45500,0.02500,0.10000,1.145
148,2019,Syria,149,3.462,0.61900,NaN,0.44000,0.01300,0.33100,0.14100,0.378
149,2019,Malawi,150,3.410,0.19100,NaN,0.49500,0.44300,0.21800,0.08900,0.560
150,2019,Yemen,151,3.380,0.28700,NaN,0.46300,0.14300,0.10800,0.07700,1.163
151,2019,Rwanda,152,3.334,0.35900,NaN,0.61400,0.55500,0.21700,0.41100,0.711
152,2019,Tanzania,153,3.231,0.47600,NaN,0.49900,0.41700,0.27600,0.14700,0.885
153,2019,Afghanistan,154,3.203,0.35000,NaN,0.36100,0.00000,0.15800,0.02500,0.517
154,2019,Central African Republic,155,3.083,0.02600,NaN,0.10500,0.22500,0.23500,0.03500,0.000
155,2019,South Sudan,156,2.853,0.30600,NaN,0.29500,0.01000,0.20200,0.09100,0.575

In [ ]:
# create .csv file from dataframe
allData_df.to_csv("../Data_Excel/Clean/clean_all.csv", index=False)