In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
data2019_df = pd.read_csv(r"C:\Users\daric\Desktop\HAPPINESS\2019.csv", dtype=object, low_memory=False)

data2019_df.head()

,Happiness Rank,Country,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,1,Finland,7.769,1.34,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.6,1.383,1.573,0.996,0.592,0.252,0.41
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.38,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [3]:
new_2019data_df = data2019_df[['Country', 'Happiness Rank', 'Happiness Score', 'GDP per Capita','Social support', 'Life Expectancy',
                                   'Freedom', 'Generosity','Government Corruption']].copy()
new_2019data_df.head()

,Country,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Finland,1,7.769,1.34,1.587,0.986,0.596,0.153,0.393
1,Denmark,2,7.6,1.383,1.573,0.996,0.592,0.252,0.41
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,4,7.494,1.38,1.624,1.026,0.591,0.354,0.118
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [4]:
rds_connection_string = "postgres:postgres@localhost:5432/World Happiness DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [8]:
engine.table_names()

['data_2017',
 'data_2018',
 'data_2019',
 'clean_2019',
 'data_2016',
 'clean_2015',
 'clean_2016',
 'clean_2017',
 'clean_2018']

In [6]:
new_2019data_df.to_sql(name='clean_2019', con=engine, if_exists='append', index=False)

In [7]:
pd.read_sql_query('select * from clean_2019', con=engine).head()

,Country,Happiness Rank,Happiness Score,GDP per Capita,Social support,Life Expectancy,Freedom,Generosity,Government Corruption
0,Finland,1,7.769,1.34,1.587,0.986,0.596,0.153,0.393
1,Denmark,2,7.6,1.383,1.573,0.996,0.592,0.252,0.41
2,Norway,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,4,7.494,1.38,1.624,1.026,0.591,0.354,0.118
4,Netherlands,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298