In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
data2016_df = pd.read_csv(r"C:\Users\daric\Desktop\HAPPINESS\data_2016.csv", dtype=object, low_memory=False)

data2016_df.head()

,country,region,happiness_rank,happiness_score,lwr_conf_interval,upr_conf_interval,gdp_per_capita,family,life_expectancy,freedom,government_corr,generosity,dystopia_residual,continent,social_support,population,gdp_usd
0,Denmark,Western Europe,1,7.526,7.46,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,Europe,NaN,5711.346,"$54,665.22"
1,Switzerland,Western Europe,2,7.509,7.428,7.59,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,Europe,NaN,8379.915,"$80,629.21"
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137,Europe,NaN,332.209,"$62,004.70"
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.1269,0.79579,0.59609,0.35776,0.37895,2.66465,Europe,NaN,5250.95,"$70,223.84"
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596,Europe,NaN,5497.714,"$43,574.35"

In [3]:
new_2016data_df = data2016_df[['country', 'happiness_rank', 'happiness_score', 'gdp_per_capita','family', 'life_expectancy',
                                   'freedom', 'generosity','government_corr', 'social_support','continent','population','gdp_usd']].copy()
new_2016data_df.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corr,social_support,continent,population,gdp_usd
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453,NaN,Europe,5711.346,"$54,665.22"
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.28083,0.41203,NaN,Europe,8379.915,"$80,629.21"
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.47678,0.14975,NaN,Europe,332.209,"$62,004.70"
3,Norway,4,7.498,1.57744,1.1269,0.79579,0.59609,0.37895,0.35776,NaN,Europe,5250.95,"$70,223.84"
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.25492,0.41004,NaN,Europe,5497.714,"$43,574.35"

In [4]:
rds_connection_string = "postgres:postgres@localhost:5432/World Happiness DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [5]:
engine.table_names()

['clean_2015']

In [6]:
new_2016data_df.to_sql(name='clean_2016', con=engine, if_exists='append', index=False)

In [7]:
pd.read_sql_query('select * from clean_2016', con=engine).head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corr,social_support,continent,population,gdp_usd
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453,None,Europe,5711.346,"$54,665.22"
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.28083,0.41203,None,Europe,8379.915,"$80,629.21"
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.47678,0.14975,None,Europe,332.209,"$62,004.70"
3,Norway,4,7.498,1.57744,1.1269,0.79579,0.59609,0.37895,0.35776,None,Europe,5250.95,"$70,223.84"
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.25492,0.41004,None,Europe,5497.714,"$43,574.35"