In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
data2017_df = pd.read_csv(r"C:\Users\daric\Desktop\HAPPINESS\data_2017.csv", dtype=object, low_memory=False)

data2017_df.head()

,country,happiness_rank,happiness_score,whisker_high,whisker_low,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corr,dystopia_residual,continent,social_support,population
0,Norway,1,7.537000179,7.594444821,7.479555538,1.616463184,1.53352356,0.796666503,0.635422587,0.362012237,0.315963835,2.277026653,Europe,NaN,5296.324
1,Denmark,2,7.521999836,7.581728065,7.462271607,1.482383013,1.551121593,0.792565525,0.626006722,0.355280489,0.400770068,2.313707352,Europe,NaN,5732.277
2,Iceland,3,7.504000187,7.622030473,7.385969901,1.48063302,1.610574007,0.833552122,0.627162635,0.475540221,0.153526559,2.322715282,Europe,NaN,334.395
3,Switzerland,4,7.493999958,7.56177242,7.426227496,1.564979553,1.516911745,0.858131289,0.620070577,0.290549278,0.367007285,2.276716232,Europe,NaN,8455.797
4,Finland,5,7.468999863,7.527542076,7.41045765,1.443571925,1.540246725,0.80915767,0.617950857,0.245482773,0.382611543,2.430181503,Europe,NaN,5511.372

In [3]:
new_2017data_df = data2017_df[['country', 'happiness_rank', 'happiness_score', 'gdp_per_capita','family', 'life_expectancy',
                                   'freedom', 'generosity','government_corr', 'social_support','continent', 'population']].copy()
new_2017data_df.head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corr,social_support,continent,population
0,Norway,1,7.537000179,1.616463184,1.53352356,0.796666503,0.635422587,0.362012237,0.315963835,NaN,Europe,5296.324
1,Denmark,2,7.521999836,1.482383013,1.551121593,0.792565525,0.626006722,0.355280489,0.400770068,NaN,Europe,5732.277
2,Iceland,3,7.504000187,1.48063302,1.610574007,0.833552122,0.627162635,0.475540221,0.153526559,NaN,Europe,334.395
3,Switzerland,4,7.493999958,1.564979553,1.516911745,0.858131289,0.620070577,0.290549278,0.367007285,NaN,Europe,8455.797
4,Finland,5,7.468999863,1.443571925,1.540246725,0.80915767,0.617950857,0.245482773,0.382611543,NaN,Europe,5511.372

In [4]:
rds_connection_string = "postgres:postgres@localhost:5432/World Happiness DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [5]:
engine.table_names()

['clean_2016']

In [6]:
new_2017data_df.to_sql(name='clean_2017', con=engine, if_exists='append', index=False)

In [7]:
pd.read_sql_query('select * from clean_2017', con=engine).head()

,country,happiness_rank,happiness_score,gdp_per_capita,family,life_expectancy,freedom,generosity,government_corr,social_support,continent,population
0,Norway,1,7.537000179,1.616463184,1.53352356,0.796666503,0.635422587,0.362012237,0.315963835,None,Europe,5296.324
1,Denmark,2,7.521999836,1.482383013,1.551121593,0.792565525,0.626006722,0.355280489,0.400770068,None,Europe,5732.277
2,Iceland,3,7.504000187,1.48063302,1.610574007,0.833552122,0.627162635,0.475540221,0.153526559,None,Europe,334.395
3,Switzerland,4,7.493999958,1.564979553,1.516911745,0.858131289,0.620070577,0.290549278,0.367007285,None,Europe,8455.797
4,Finland,5,7.468999863,1.443571925,1.540246725,0.80915767,0.617950857,0.245482773,0.382611543,None,Europe,5511.372